.item {
  color:#262324;
  display: flex;
  margin-top: 10px;
}

.item img{
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.item span {
  display:inline-grid;
  margin-left: 5px;
  margin-top: 5px;
}

.item button {
  width: 70px;

}

/*display: 
inline 	Значение по умолчанию. Элемент генерирует строковый блок. Аналог — тег <span>.
block 	Элемент генерирует структурный блок, как и тег <div>.
flex 	Элемент генерирует структурный блок, который создает адаптивный контейнер для дочерних элементов.
inline-block 	Элемент генерирует строковый блок.
inline-flex 	Элемент генерирует строковый блок, который создает адаптивный контейнер для дочерних элементов.
inline-table 	Элемент определяет структурный блок, который генерирует строковый блок.
list-item 	Элемент генерирует структурный блок, который отображается как элемент списка <li>.
table 	Элемент генерирует структурный блок. На странице ведет себя аналогично <table>.
table-caption 	Элемент генерирует основной заголовок таблицы. На странице ведет себя аналогично <caption>.
table-column 	Элемент описывает столбец ячеек, визуальное представление не генерируется. Аналог — <col>.
table-column-group 	Элемент объединяет один или несколько столбцов. Аналог — <colgroup>.
table-cell 	Элемент генерирует отдельную ячейку таблицы, на странице ведет себя аналогично <th> и <td>.
table-header-group 	Элемент определяет группу строк заголовка, которая всегда отображается перед остальными строками и группами строк. Аналог — <thead>.
table-footer-group 	Элемент определяет группу строк заголовка, которая всегда отображается после всех остальных строк и перед любым нижним основным заголовком. Ведет себя аналогично <tfoot>.
table-row-group 	Элемент объединяет одну или несколько строк. Аналог — <tbody.
table-row 	Элемент является строкой ячеек. Пример — <tr>.
none 	Элемент не генерирует никакой контейнер, полностью удаляясь со страницы.
inherit 	Наследует свойство от родительского элемента.
*/

/* flex-direction: 
row 	Значение по умолчанию, слева направо (в rtl справа налево). Flex-элементы выкладываются в строку. Начало (main-start) и конец (main-end) направления главной оси соответствуют началу (inline-start) и концу (inline-end) оси строки (inline-axis).
row-reverse 	Направление справа налево (в rtl слева направо). Flex-элементы выкладываются в строку относительно правого края контейнера (в rtl — левого).
column 	Направление сверху вниз. Flex-элементы выкладываются в колонку.
column-reverse 	Колонка с элементами в обратном порядке, снизу вверх.
initial 	Устанавливает значение свойства в значение по умолчанию.
inherit 	Наследует значение свойства от родительского элемента.
*/

/* vertical-align:
baseline Выравнивает базовую линию текущего элемента по базовой линии родителя. Если родительский элемент не имеет базовой линии, то за нее принимается нижняя граница элемента. 
bottom Выравнивает основание текущего элемента по нижней части элемента строки, расположенного ниже всех.
middle Выравнивание средней точки элемента по базовой линии родителя плюс половина высоты родительского элемента.
sub Элемент изображается как подстрочный, в виде нижнего индекса. Размер шрифта при этом не меняется.
super Элемент изображается как надстрочный, в виде верхнего индекса. Размер шрифта остается прежним.
text-bottom Нижняя граница элемента выравнивается по самому нижнему краю текущей строки.
text-top Верхняя граница элемента выравнивается по самому высокому текстовому элементу текущей строки.
top Выравнивание верхнего края элемента по верху самого высокого элемента строки.
inherit Наследует значение родителя. 
*/