.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

textarea {
  background-color: #c2dbbaea;
  border: none;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #6c9e7bea;
}

.app-wrapper-content-profile button {
  color:#475349;
  width: 70px;
  display: inline-block;
  font-family: Comic Sans MS,Comic Sans;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: 0px;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  transition: all .218s ease 0s;
}

.app-wrapper-content-profile button.posts{
  background: #c3daca6e;
}

.app-wrapper-content-profile button:hover{
  border: 1px solid #475349;
}
.app-wrapper-content-profile button.posts:hover {
  color: rgb(24,24,24);
  border: 1px solid #475349;
  background: #6c9e7bea;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.app-wrapper-content-profile button:active{
  background: #6c9e7bea;
  border: 1px solid #62a776ea;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  color: black;
}
.app-wrapper-content-profile button.posts:active {
  color: #6c9e7bea;
  border: 1px solid black;
  background: #475349;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
/*////////////////////DIALOGS/////////////////////////////*/
.app-wrapper-content-dialogs button {
  color:#475349;
  margin-left:6px;
  margin-top:3px;
  width: 90px;
  height: 20px;
  display: inline-block;
  font-family: Comic Sans MS,Comic Sans;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: 0px;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  transition: all .218s ease 0s;
}

.app-wrapper-content-dialogs button:hover{
  border: 1px solid #475349;
}

.app-wrapper-content-dialogs button:active{
  background: #6c9e7bea;
  border: 1px solid #62a776ea;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  color: black;
}

.app-wrapper-content-dialogs textarea{
  height: 25px;
  display: block;
  background-color: #c2dbbaea;
  border: none;
  margin-left:6px;
}
/*///////////////////////////////////////////////////////*/